@import "~bootstrap/scss/bootstrap";

.bg{
  background-color: hue($color: #000000);
}

.dashboard-posts {
  margin: 1em 5em 1em 5em;
}

.my-card {
  // position: absolute;
  width: 30%;
  margin: 2rem;
}

.my-card img{
  // position: absolute;
  width: 100%
}

.my-card input {
  width: 5rem
}

.my-card-content img {
  width: 15rem
}

.float-right {
  float: right;
}

i {
  margin: 0.2rem;
}

.hidden {
  display: none;
}



.post-detail {
  margin: 5em 10em 5em 10em;
}

.post-detail textarea{
  width: 100%;
}

.post-detail button{
  margin: 1em;
  margin-left: 0em;
}

.post-detail .content-area{
  height: 5em;
}
